* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap
}

.content-block {
    width: 1200px;
    display: flex
}

.figure {
    width: 300px;
    margin-top: 100px
}

.navbar {
    font-size: 14px;
}


section {
    font-size: 20px;
    width: 600px;
    margin-right:100px
}

@media (max-width:700px) {
    .content-block {
        float: none;
        position: static;
        width: auto;
    }
}